body{
  background-color: brown;
  color: whitesmoke;
  font-size: xx-large;
  background-image: url("https://media.licdn.com/dms/image/D4D16AQEeqtNZiNrEJw/profile-displaybackgroundimage-shrink_350_1400/0/1693493259467?e=1698883200&v=beta&t=fwLJ4Yzw01CNRXcB0SaRjRfY_h5Gn12ZRIpqcSNAuYk");
  background-size:cover ;
  
}
